@value makerGrey,makerWhite,makerGreen,makerLightPink from '../../common/colors.css';

.layout {
  /* border: 2px solid salmon; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 60%;
}

.section {
  background-color: makerWhite;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 1.2em;
}

.loginBtn {
  border-radius: 16px;
  border: 2px solid makerGreen;
  margin-bottom: 0.8em;
  padding: 0.8em 0 0.8em 0;
  cursor: pointer;
  /* width: 25rem; */
  width: 80%;
  background-color: transparent;
}
.loginBtn:hover {
  background-color: makerLightPink;
}
